* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
}

.header h1 {
  padding-top: 20px;
  padding-left: 20px;
}

.main {
  width: 840px;
}

.contents1 {
  text-align: left;
  margin: 0 auto;
}
